html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.top-nav-collapse {
  background-color: #6f702a !important;
}

.navbar:not(.top-nav-collapse) {
  background: #1f1f19 !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #6f702a !important;
  }
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(9, 15, 9, 0.4) 50%);


}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.5;
}

a {
 font-size: 10;
 color: #2a2b2d;

}

h1,h3 {
    font-family: 'Allerta Stencil';
    font-size: 40px;
}