<!-- Footer -->
<footer class="page-footer  font-small  pt-4 fixed-bottom position-relative mt-5" style="background-color: #0c0c0c;">

  <!-- Footer Elements -->
  <div class="container text-white">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'regjistrohu' %}" class="btn btn-light btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a href="#" class="text-white"> BLI_ONLINE.com </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->